body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpH2x_0eGXhGFBs7CqQqdTZZyVTXcsK2MkHA&s');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
.app-container h1 {
    color: white;
}
.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
  color: rgb(236, 235, 235); /* Changed text color to black */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: red;
  font-weight: bold;
}
